<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongooses Dojo Assignment Mongoose Page</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/mongooses/new">Create Mongoose</a>
    </nav>
    <main>
        <h1><%= mongoose.name %></h1>
        <p><%= mongoose.age %></p>
        <p><%= mongoose.weight %></p>
    </main>
</body>
</html>