<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashbaord Dojo Assignment Index Page</title>
</head>
<body>
    <nav>
        <a href="/birds/new">Create Bird</a>
    </nav>
    <main>
        <h1>Here be all thy bird</h1>
        <ul>
            <% for (const bird of birds) { %>
                <li><a href="birds/<%= bird._id %>"><%= bird.name %>, <%= bird.type %></a> <a href="/birds/destroy/<%= bird._id %>">Delete</a></li>
            <% } %>
        </ul>
    </main>
</body>
</html>