section {
  border: solid 1px black;
  width: 800px;
  margin-top: 15px;
  padding-bottom: 15px;
}

#header {
  border-bottom: solid 1px black;
  text-align: center;
  padding: 10px;
  margin: 0px;
}

.move {
  text-align: center;
  width: 200px;
  display: inline-block;
  vertical-align: top;
}
