section {
  width: 400px;
}

p {
  margin: 0px;
  padding: 0px;
}

.quote {
  border: solid 2px black;
  padding: 5px;
  margin-top: 25px;
  font-style: italic;
}

.author {
  margin: 3px 0px 0px 50px;
  font-style: normal;
}
