h1 {
  text-align: center;
  width: 800px;
}

.case {
  background-color: darkgrey;
  border: solid 2px black;
  width: 60px;
  height: 60px;
  margin-left: 5px;
  display: inline-block;
}

button {
  border: solid 2px black;
  text-align: center;
  width: 50px;
  height: 50px;
  color: white;
  font-weight: bold;
  margin: 5px 0px 0px 5px;
  background-color: green;
}

#footer {
  font-size: 10px;
  text-align: center;
  width: 800px;
}

.power {
  background-color: red;
}
